<h1>Editing Factura</h1>

<%= render 'form', factura: @factura %>

<hr>

<%= link_to 'Mostrar', @factura, class: 'btn btn-default' %> |
<%= link_to 'Regresar', facturas_path, class: 'btn btn-default' %>
